<!-- Include header partials so that styling can be applied using bootstrap. -->
<%- include("../partials/header") %>

<body>
    <div class="container mt-5">
        <h1>Register</h1>
      
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <!-- Makes POST request to /register route -->
                <form action="/register" method="POST">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName">
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="username">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>

                  <!-- Create hidden inputs and send values to server to insert in database on register. -->
                  <!-- Hidden input element to know the type of user, because same register.ejs file is getting used for both the users(buyer and seller). -->
                  <input type="hidden" name="type" value="<%= userType %>">
                  <button type="submit" class="btn btn-dark mt-3">Register</button>
                </form>
      
              </div>
            </div>
          </div>
      
        </div>
      </div>
</body>
</html>