<%- include("partials/header") %>

<div class="card mx-auto mt-5" style="width: 18rem;">
    <h5 class="card-header">Wallet</h5>
    <div class="card-body">
      <h5 class="card-title">Wallet Balance:</h5>
      <p class="card-text">$<%= walletBalance %></p>
      <a href="#" class="btn btn-primary">Add Balance</a>
    </div>
</div>